<section class="home-container">
  <h1 class="game-title neon-text">Tic Tac Toe</h1>
  <div class="xo-wrapper">
    <p class="x-title character neon-pink">X</p>
    <p class="o-title character neon-green">O</p>
    <p class="x-title character neon-pink">X</p>
    <p class="o-title character neon-green">O</p>
    <p class="x-title character neon-pink">X</p>
    <p class="o-title character neon-green">O</p>
  </div>
  <div class="game-btn-wrapper">
    <button class="game-btn 1p-btn neon-text" routerLink="/1player">1P</button>
    <button class="game-btn 2p-btn neon-text" routerLink="/2player">2P</button>
  </div>
</section>
